<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>JSON form example</h1>
    <form method="POST" id="Form">
      <input type="text" id="first" name="first" /><br />
      <input type="text" id="last" name="last" /><br />
      <input
        onclick="handleSubmit(event)"
        type="submit"
        value="Submit"
        id="Btn"
      />
    </form>
    <script>
      function handleSubmit(event) {
        event.preventDefault()
        let first = document.getElementById("first").value;
        let second = document.getElementById("last").value;

        fetch("/jsonApi", {
          method: "POST",
          redirect: "follow",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ first: first, last: second }),
        });
      }
    </script>
  </body>
</html>
